GOOGLE_API_KEY="YOUR_GOOGLE_API_KEY"

# Allowed Domain
ALLOWED_DOMAIN=http://localhost:8000


POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=your_postgres_db
POSTGRES_PORT=5432
POSTGRES_HOST=your_postgres_host
POSTGRES_HOST_AUTH_METHOD=your_postgres_host_auth_method
POSTGRES_SSLMODE=disable
POSTGRES_POOL_SIZE=your_postgres_pool_size
POSTGRES_MAX_OVERFLOW=your_postgres_max_overflow
POSTGRES_POOL_TIMEOUT=your_postgres_pool_timeout
POSTGRES_POOL_RECYCLE=your_postgres_pool_recycle


UPLOAD_FOLDER=your_upload_folder
SECRET_KEY=your_secret_key